
    <div *ngIf = "loggedIn" class = "col">
    <h2>Welcome {{username}}</h2>
    </div>

    
    <form *ngIf = "!loggedIn" #loginForm = "ngForm" (ngSubmit)="login(loginForm)" class="py-4 form-inline">
        <div class="form-row">

            <div class="col">
                <input name="username" [(ngModel)] = 'username' required placeholder="Username">
            </div>

            <div class="col">
                <input name="password" [(ngModel)] = 'password' required placeholder="Password" type="password">
            </div>

            <div class="col">
                <button class='btn btn-warning mr-2' type='submit'>Login</button>
            </div>
        </div>
    </form>

    