
    <div *ngIf = "loginService.isUserLoggedIn()" class = "row pr-4">
    <h3 class = "col">Welcome {{loginService.currentUser()}}</h3>
    <button type="button" class='btn btn-outline-warning my-auto col' (click)='logout()' value="Logout">Logout</button>
    </div>

    
    <form class = "form-row" *ngIf = "!loginService.isUserLoggedIn()" #loginForm = "ngForm" (ngSubmit)="login(loginForm)">
        <input class = "col mr-2 form-control" name="username" ngModel required placeholder="Username">
        <input class = "col mr-2 form-control" name="password" ngModel required placeholder="Password" type="password">
        <button type="button" class="col btn btn-outline-warning mr-2" (click)='login(loginForm)'>Login</button>
    </form>

    