
    <div *ngIf = "loggedIn" class = "col">
    <h2>Welcome {{username}}</h2>
    </div>

    
    <form #loginForm = "ngForm" (ngSubmit)="login(loginForm)" class="py-4 form-inline">
        <div class="form-row">

            <div class="col">
                <input name="username" ngModel required placeholder="Username">
            </div>

            <div class="col">
                <input name="password" ngModel required placeholder="Password" type="password">
            </div>

            <div class="col">
                <input type="button" class='btn btn-warning mr-2' (click)='login(loginForm)' value="Login">
            </div>
        </div>
    </form>

    