.fullContactComponent{
    /* height: 100%;
    background-color: coral; */
}

.contactHeading{
    font-size: 225%;
    font-family: 'Times New Roman', Times, serif;
    color: #ffbe25;
}

.contactParagraphs{
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
    color: #ffbe25;
}

.shadowing{
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }