.fullContactComponent{
    background-color: coral;
}

.contactHeading{
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}

.contactParagraphs{
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}