.fullContactComponent{
    /* height: 100%;
    background-color: coral; */
    width: 25%;
    margin: 5px;
    padding: 5px;
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
    background-image: linear-gradient(red, grey);
}

.contactHeading{
    font-size: 250%;
    font-family: 'Times New Roman', Times, serif;
    color: #ffbe25;
}

.contactParagraphs{
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
    color: #ffbe25;
}

.shadowing{
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }