<div class="container-fluid row myTopDiv">

    <br />

    <div *ngFor="let res of response" class="myContainerDivs col-4">

            <p class="modelParagraphs shadowing p-2">{{ res?.model }}</p>
            <img id={{res?.id}} src={{res?.picture}} class="carImages p-2" 
            (click)="buttonClicked(res.id)"
            (mouseover) = "hovering = ($event.target.id)" (mouseout)="hovering = ''"
            [ngClass] = "{'animated pulse shadow-lg border border-white' : hovering == res.id}">

    </div>

</div>
