<div class="container-fluid my-4">
    <div class="row" id="manufacturer-list">
        <div class="col d-inline" *ngFor="let manufacturer of manufacturers">
            <img 
            id = '{{manufacturer?.make}}' class="img-fluid"
            (mouseover) = "hovering = ($event.target.id)" (mouseout)="hovering = ''" 
            (click) = manufacturerClicked(manufacturer.make)
            [ngClass] = "{'animated pulse infinite' : hovering === manufacturer.make }"
            src='{{manufacturer?.image}}'>
            <img>
        </div>
    </div>
</div>