<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark nav-fill d-flex justify-content-between p-0 " id="top-nav">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav w-100">
          <li class="nav-item py-3">
            <a class="nav-link align-middle" href="/home">Home</a>
          </li>

          <li class="nav-item py-3">
              <a class="nav-link" href="/allcars">Cars</a>
            </li>

          <li class="nav-item py-3">
            <a class="nav-link" href="/contact">Contact</a>
          </li>

          <li class="nav-item navbar-brand">
              <img src = "https://www.stickers-factory.com/media/catalog/product/cache/1/image/1000x/040ec09b1e35df139433887a97daa66f/2/6/26575_00.png" 
              class = "img-fluid" id="logo" height="7%" width="7%">
              <h1 class="d-inline" id="logo-text">Prehistoric Motors</h1>
          </li>         
        </ul>
          <app-login *ngIf = "!loginService.isUserLoggedIn()" ></app-login>

          <div class="col">
              <button class='btn btn-danger mr-2' type='button' (click)="signupClicked()">Sign Up</button>
          </div>
        
      </div>
    </nav>