<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark nav-fill d-flex justify-content-between p-0 " id="top-nav">

        <!-- Links -->
        <ul class="navbar-nav w-100">
          <li class="nav-item py-3">
            <a class="nav-link align-middle" href="/home">Home</a>
          </li>

          <li class="nav-item py-3">
              <a class="nav-link" href="/allcars">Cars</a>
            </li>

          <li class="nav-item py-3">
            <a class="nav-link" href="/contact">Contact</a>
          </li>

          <li class="nav-item navbar-brand">
              <img src = "https://www.stickers-factory.com/media/catalog/product/cache/1/image/1000x/040ec09b1e35df139433887a97daa66f/2/6/26575_00.png" 
              class = "img-fluid" id="logo" height="7%" width="7%">
              <h1 class="d-inline" id="logo-text">Prehistoric Motors</h1>
          </li>         
          
          <li>
                <form class="py-4">
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Username">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Password">
                        </div>
                        <div class="col">
                            <button class='btn btn-warning mr-2' type='button' id='login'>Login</button>
                        </div>
                    </div>
                </form>
          </li>
        </ul>
      
      </nav>