.shadowing{
    text-shadow:
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      2px 2px 0 #000;
  }

  .homeHeading{
    color: #ffbe25;
}

  .homeDescription{
    color: #ffbe25;

  }