.shadowing{
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  .homeHeading{
    color: #ffbe25;
}

  .homeDescription{
    color: #ffbe25;

  }

  .flinestonesImage{
      width: 50%;
      height: 50%;
  }