.car-page-font{
  font-family: 'Be Vietnam', sans-serif;;
  color: #ffbe25;
  font-size: 2em;
}

.round-corners{
  border-radius: 35%;
}

#description{
  font-family: 'Be Vietnam', sans-serif;;
  color: rgb(107, 218, 112);
  font-size: 1.5em;
  align-content: right;

}

.shadowing{
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}
/* .blankRow{
  margin: 10px;
} */
