<div class="container-fluid">
<app-add></app-add>
    <div *ngFor='let car of allCars' class="">
        <div class="row my-1 mx-1">
            <p class="makeClass col-3">{{ car?.make }}</p>
            <p class="modelClass col-3">{{ car?.model }}</p>
            <button class="btn btn-primary col-3" (click)='editClicked(car.id)'>Edit</button>
            <button class="btn btn-danger col-3" (click)='deleteClicked(car.id)'>Delete</button>
        </div>

        <div class="row" id={{car.id}} style="display: none;">
            <form #f="ngForm">
                <input style="display:none;" type="text" name="id" class="form-control" ngModel={{car?.id}}>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type="text" name="make" ngModel={{car?.make}} class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" name="model" class="form-control" ngModel={{car?.model}}>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" name="car_year" class="form-control" ngModel={{car?.car_year}}>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type="text" name="color" class="form-control" ngModel={{car?.color}}>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" name="description" class="form-control" ngModel={{car?.description}}>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" name="price" class="form-control" ngModel={{car?.price}}>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input type="text" name="picture" class="form-control" ngModel={{car?.picture}}>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <input type="button" class="btn btn-primary" (click)='submitEdit(f);' value="Confirm">
                    </div>
                </div>

            </form>
        </div>

    </div>

</div>

